/* JMenu 1.0 | MIT License | https://github.com/jamesjohnson280/JMenu */


/* Menu bar and fonts */
.jmenu {
  background: #252525; /* Dark gray */
  box-sizing: border-box;
  line-height: 1;
}

/* Menu Items */
.jmenu ul {
  list-style: none;
  margin: 0;
  padding: 16px;
}

.jmenu li {
  padding: 16px;
}

/* Links */
.jmenu a {
  color: #959595; /* Light gray */
  text-decoration: none;
}

.jmenu a:hover {
  color: #fff; /* White */
}


@media (min-width: 768px) {
  
  /* Menu items */
  .jmenu li {
    display: inline-block;
    padding: 0 16px;
  }
}
